.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
  font-family: "Shrikhand", sans-serif;
  
}
.butto{
    width: 80px;
    color: #2A4D75 !important;
    background-color: #99B5D2 !important;
    border-color: #e5daf5 !important;
}
h5{
  margin-bottom:  3.5rem !important;
  color: #2A4D75;
}
